.hero__section {
  padding-top: 60px;
  h1 {
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 30px;
    font-weight: 800;
    line-height: 18px;
    margin-bottom: 12px;
  }

  h3 {
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 30px;
  }
  .hero {
    display: flex;
    gap: 150px;

    &__left {
      display: flex;
      flex-direction: column;

      form {
        display: flex;
        flex-direction: column;
        h2 {
          margin-bottom: 20px;
          color: rgb(0, 0, 0);
          font-family: Poppins;
          font-size: 20px;
          font-weight: 800;
          line-height: 18px;
          letter-spacing: 0.2px;
          text-align: left;
        }

        label {
          margin-top: 20px;
          display: flex;
          flex-direction: column;

          input {
            margin-top: 10px;
            box-sizing: border-box;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 5px;
            width: 389px;
            height: 55px;
          }
        }

        button {
          margin-top: 22px;
          border-radius: 6px;
          background: rgb(237, 22, 95);
          width: 389px;
          height: 47px;
          color: rgb(255, 255, 255);
          font-family: Poppins;
          font-size: 18px;
          font-weight: 800;
          line-height: 24px;
          letter-spacing: 2px;
          text-align: center;
          text-transform: uppercase;
          border: none;
        }

        a {
          margin-top: 20px;
          color: rgb(0, 0, 0);
          font-family: Poppins;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          text-align: left;
          text-decoration-line: underline;
        }
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      form {
        display: flex;
        flex-direction: column;
        h2 {
          margin-bottom: 20px;
          color: rgb(0, 0, 0);
          font-family: Poppins;
          font-size: 20px;
          font-weight: 800;
          line-height: 18px;
          letter-spacing: 0.2px;
          text-align: left;
        }

        label {
          margin-top: 20px;
          display: flex;
          flex-direction: column;

          input {
            margin-top: 10px;
            box-sizing: border-box;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 5px;
            width: 389px;
            height: 55px;
          }
        }

        button {
          margin-top: 22px;
          border-radius: 6px;
          background: rgb(237, 22, 95);
          width: 389px;
          height: 47px;
          color: rgb(255, 255, 255);
          font-family: Poppins;
          font-size: 18px;
          font-weight: 800;
          line-height: 24px;
          letter-spacing: 2px;
          text-align: center;
          text-transform: uppercase;
          border: none;
        }

        a {
          margin-top: 20px;
          color: rgb(0, 0, 0);
          font-family: Poppins;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          text-align: left;
          text-decoration-line: underline;
        }
      }
    }
  }
}
#remember {
  display: flex;
  margin-top: 16px;
}
